<!DOCTYPE html>
<html ng-app="app" >
<head>
    <title>Date Filter</title>

    <script src="Libraries/angular.js"></script>
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script-->
  
      <link href="Libraries/bootstrap-theme.css" rel="stylesheet">
    <link href="Libraries/bootstrap.css" rel="stylesheet">

     <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"-->
   <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"--> 
  
    <!--link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css"-->
   

	<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"-->
	<link rel="stylesheet" type="text/css" href="css/style.css">
   <script src="js/loadscript.js"></script>

    
   


</head>
<body>


<form name="myForm" novalidate >

    <div ng-app="app" ng-controller="phonebookCtrl">
  

	<div class="well">
		
			
			  <div class="form-group">
			<label>Name (min-4):</label>
			<input name="personName" class="form-control" type="text" ng-model="name" ng-minlength="4" required placeholder="Фамилие Имя Отчество нового абонента" />
			<div class="error" ng-show="myForm.personName.$invalid && myForm.personName.$dirty">
                        <span ng-show="myForm.personName.$error.minlength">
                            Введите праивльный Name
                        </span>
                        <span ng-show="myForm.personName.$error.required">
                            Поле не должно быть пустым
                        </span>
                    </div>
			</div>
			
    			

	
			<div class="form-group">
				<label>Tel number "(xxx) xxx-xxx", min-7:</label>
			<input name="personPhone" class="form-control" type="tel"   ng-model="phone"  ng-minlength="7"  required placeholder="№ телефонна нового абонента" />
			<div class="error" ng-show="myForm.personPhone.$invalid && myForm.personPhone.$dirty">
                        <span ng-show="myForm.personPhone.$error.minlength">
                            Введите праивльный Tel number
                        </span>
                        <span ng-show="myForm.personPhone.$error.required">
                            Поле не должно быть пустым
                        </span>
                    </div>

			</div>
		

	 
			<div class="form-group">
                    <label>Email (min-4):</label>
			<input name="personEmail" class="form-control" ng-model="email" type="email" required ng-minlength="4"  placeholder="E-mail нового абонента" />
			<div class="error" ng-show="myForm.personEmail.$invalid && myForm.personEmail.$dirty">
                        <span ng-show="myForm.personEmail.$error.email">
                            Введите праивльный email
                        </span>
                        <span ng-show="myForm.personEmail.$error.required">
                            Поле не должно быть пустым
                        </span>
                    </div>

			  </div>

			<div class="form-group">
                        <label class="form-group">category</label>
                       
                            <select class="form-control" id="inputCategory" required ng-model="category" >
                            	<option value="">---Please select---</option>
                                <option id="friend">Друг</option>
                                <option id="cum">Кум</option>
                                <option id="colleag">Коллега</option>
                                <option id="brothers">Брат</option>
                                <option id="ladies">Леди</option>
                            </select>
                        
            </div>

            <div class="form-group">
                        <label for="addDate" class="form-group">date</label>
                       
                            <input name="personDate" type="text" name="addDate" class="form-control" id="addDate" ng-model="date"ng-pattern="/\d\d\d\d/\d\d/\d\d/" 
                             
                            placeholder="YYYY/MM/DD - 1998/05/14" required/>

                           
                            <div class="error" ng-show="myForm.personDate.$invalid && myForm.personDate.$dirty">
                        <span ng-show="myForm.personDate.$error.pattern">
                            Введите дату рождения правельно
                        </span>
                        <span ng-show="myForm.personDate.$error.required">
                            Поле не должно быть пустым
                        </span>
                    </div>
                       
                    </div>

			 
		
    
	
		<div class="row button">
		
			<button class="seve btn" ng-click="addNewPerson()" ng-disabled="myForm.$invalid" ng-hide="currentPersonId > -1">Добавить</button>
			<button class="dob btn" ng-click="savePerson()" ng-disabled="myForm.$invalid" ng-show="currentPersonId > -1">Сохранить</button>
		
		</div>




<div class="well">

                <div>
                    Сведения:
                    <span class="summary" ng-class="myForm.$valid ? 'ng-valid 11111' : 'ng-invalid'">
                        {{myForm.$valid}}
                    </span>
                </div>
            </div>

<ul class="nav nav-pills">
  <li class="active"><a href="list2/proba.html">Сортировка и поиск</a></li>
 </ul>


	</div>

 <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>
                Number of contacts
                <span class="label label-info">{{phonebook.length}}</span>
            </h3>
        </div>


        <table class="table table-condensed table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>№</th>
					<th>ФИО</th>
					<th>№ телефона</th>
					<th>Эл. почта</th>
					<th>Категория</th>
					<th>Дата рождения</th>
					<th>Действия</th>
		
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in phonebook">

                	<td>{{ $index + 1 }}</td>
					<td>{{ person.name }}</td>
					<td>{{ person.phone }}</td>
					<td>{{ person.email }}</td>
					<td>{{ person.category }}</td>
					<td>{{takeDay(person.date) | date : 'd MMM  y'}}</td>
    
				<td>
			
				<button class="btn btn-primary" href='' ng-click="editPerson($index)">Edit</button>
				<button class="btn btn-danger"  href='' ng-click="deletePerson($index)">Delete</button>

			
		</td>
    </tr>
            </tbody>
        </table>
    </div>


    </div>
    
</form>  





</body>
</html>
