<!DOCTYPE html>
<html ng-app="app" >
<head>
    <title>Date Filter</title>

    <script src="Libraries/angular.js"></script>
  <!--script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script-->
  
      <link href="Libraries/bootstrap-theme.css" rel="stylesheet">
    <link href="Libraries/bootstrap.css" rel="stylesheet">

     <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"-->
   <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"--> 
  
    <!--link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css"-->
   

	<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"-->
	<link rel="stylesheet" type="text/css" href="css/style.css">
   <script src="js/loadscript.js"></script>

    
   


</head>
<body>


<form name="myForm" novalidate >

    <div ng-app="app" ng-controller="phonebookCtrl">
  

	<div class="well">
		
			
			  <div class="form-group">
			<label>Name (min-4):</label>
			<input class="form-control" type="text" ng-model="name" ng-minlength="4" required placeholder="Фамилие Имя Отчество нового абонента" />
			</div>
			
    			

	
			<div class="form-group">
				<label>Tel number "(xxx) xxx-xxx", min-7:</label>
			<input class="form-control" type="tel"   ng-model="phone"  ng-minlength="7"  required placeholder="№ телефонна нового абонента" />
			</div>
		

	 
			<div class="form-group">
                    <label>Email (min-4):</label>
			<input class="form-control" ng-model="email" type="email" required ng-minlength="4"  placeholder="E-mail нового абонента" />
			  </div>

			 
		
    
	
		<div class="row button">
		
			<button class="seve btn" ng-click="addNewPerson()" ng-disabled="myForm.$invalid" ng-hide="currentPersonId > -1">Добавить</button>
			<button class="dob btn" ng-click="savePerson()" ng-disabled="myForm.$invalid" ng-show="currentPersonId > -1">Сохранить</button>
		
		</div>




<div class="well">

                <div>
                    Valid:
                    <span class="summary" ng-class="myForm.$valid ? 'ng-valid' : 'ng-invalid'">
                        {{myForm.$valid}}
                    </span>
                </div>
            </div>

<ul class="nav nav-pills">
  <li class="active"><a href="list2/proba.html">Сортировка и поиск</a></li>
 </ul>


	</div>

 <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>
                Number of contacts
                <span class="label label-info">{{phonebook.length}}</span>
            </h3>
        </div>


        <table class="table table-condensed table-bordered table-hover table-responsive">
            <thead>
                <tr>
                    <th>№</th>
					<th>ФИО</th>
					<th>№ телефона</th>
					<th>Эл. почта</th>
					<th>Действия</th>
		
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in phonebook">

                	<td>{{ $index + 1 }}</td>
					<td>{{ person.name }}</td>
					<td>{{ person.phone }}</td>
					<td>{{ person.email }}</td>
    
				<td>
			
				<button class="btn btn-primary" href='' ng-click="editPerson($index)">Edit</button>
				<button class="btn btn-danger"  href='' ng-click="deletePerson($index)">Delete</button>

			
		</td>
    </tr>
            </tbody>
        </table>
    </div>


    </div>
    
</form>  





</body>
</html>
